<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/main.css" th:href="@{/static/css/main.css}" />
    <title>Food Delivery</title>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="col-4">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="text-white nav-link" href="/FoodDeliverySpringSecurity_war/logout" th:href="#{/logout}">Log Out</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-4">
            <h1 class="text-white text-center"><a class="main-logo-link" href="/" th:href="@{/}">Food Delivery</a></h1>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="col-4 d-flex justify-content-end">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</header>
<body>
<div class="container mh-100 mw-100 m-0 p-0">
    <div class="row m-0 p-0">
        <div id="admin_profile_pic" class="col-6 m-0 p-0">
        </div>
        <div class="col-6 right_column m-auto">
            <h2>Admin name: <span class="badge badge-secondary" th:text="${admin.username}">name</span></h2>
            <div class="list-group">
                <p class="list-group-item list-group-item-action active">List of users</p>
                <tr class="list-group-item list-group-item-action" th:each="user : ${list}">
                    <td><p class="list-group-item list-group-item-action" th:text="${user.username} + ': ' + *{user.roles}"> Name + Roles</p></td>
                </tr>
            </div>
        </div>
    </div>
</div>
</body>
</html>