<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/login.css" th:href="@{/static/css/login.css}"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/main.css" th:href="@{/static/css/main.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>Food Delivery logIn</title>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <title>Hello user</title>
</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="col-4">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="text-white nav-link" tabindex="-1" href="/login" th:href="@{/login}">Log In</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-4">
            <h1 class="text-white text-center"><a class="main-logo-link" href="/" th:href="@{/}">Food Delivery</a></h1>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="col-4 d-flex justify-content-end">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</header>
<body class="text-center">
<form name="f" action="/FoodDeliverySpringSecurity_war/perform_login" th:action="@{/perform_login}" method="POST" class="form-signin">
    <img class="mb-4" src="../../static/images/burger.png" th:src="@{/static/images/burger.png}" alt="" width="300" height="200">

    <div th:if="${error}" class="alert alert-danger">
        <strong>?\_(?)_/?</strong> <div>Try another Username or Password</div>
    </div>
    <div th:if="${logout}" class="alert alert-warning">
        You have been logged out
    </div>

    <div th:unless="${error != null or logout != null}">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    </div>


    <label for="username" class="sr-only">Username</label>
    <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>

<!--    Remember me-->
    <input id="remember_me" name="remember_me" type="checkbox">
    <label for="remember_me" class="inline">Remember me</label>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
</body>
</html>
